body {
    position: relative;
}

.container {
    position: absolute;
    left:200px;
    top:30px;
    height: 500px;
    width: 900px;
    background-color: black;
    border: 1px solid blue;
    overflow:hidden;
}

.diamond {
    position: absolute;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    transform: translate3d(0px,-100px,0px);
}

.diamond1 {
    background-image: url('./3.png');
    left:10px;
}

.diamond2 {
    background-image: url('./4.png');
    left:100px;
}

.diamond3 {
    background-image: url('./5.png');
    left:200px;
}

.diamond4 {
    background-image: url('./6.png');
    left:300px;
}

.diamond5 {
    background-image: url('./7.png');
    left:400px;
}

.diamond6 {
    background-image: url('./8.png');
    left:500px;
}

.diamond7 {
    background-image: url('./9.png');
    left:600px;
}
.diamond8 {
    background-image: url('./3.png');
    left:10px;
}
.diamond9 {
    background-image: url('./3.png');
    left:10px;
}
.diamond10 {
    background-image: url('./3.png');
    left:10px;
}
